/*Style for brand*/
.logo {
  margin: 18px 10px 18px 10px;
}

.strapline {
  margin: 18px 0px 18px 0px;
}

/*General style*/
body {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 13px;
}

#container {
  text-align:center;
}

#map {
  margin: auto;
  width:80%;
  height:600px;
}

.inline {
  display: inline-block;
}

select, input {
  border: 0px;
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #302530;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/*Style for speech bubble*/
blockquote.bubble {
	background-position: center;
  background-repeat: no-repeat !important;
	background-size: 100% 100%;
  margin: 0 auto;
	text-align: center;
	height: 0;
	box-sizing: content-box;
	line-height: 1;
  font-size: 3.5vw;
  /*z-index: 1;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
blockquote.speech {
  background: url(../../library/images/speech-bubble2.svg);
  /*width: 25%;*/
  padding: 5% 5% 15% 5%;
}

.pulsate {
  animation: fadeIn 1s infinite alternate;
}
@keyframes fadeIn {
  from { opacity: 0; }
}
.fadesOut {
  opacity: 1;
  animation: fadeOut 2.5s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to {
    opacity: 0;
  }
}

/*Style for menuBox*/
.menuBox {
  font-size: 25px;
  background-color: rgba(205, 220, 57, 0.64);
  padding: 20px;
  border-radius: 10px;
  /*z-index: 1;*/
  width: 85%;
  height: 80%;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Style for Nearest Location List*/
ul {
    list-style-image: url('../library/images/point-b.png');
}

#chargingStations {
  display: inline-block;
}

.locationListItem {
  font-size: 25px;
  margin: 10px;
  text-align: left;
}

/*style for info window*/
.narrow {
  margin: 5px;
}

.infowindow {

}

.gm-style .gm-style-iw {
    font-weight: inherit;
    font-size: 20px;
}

.connectorDiv {
  border-radius: 8px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #CDDC39;
}

.pumpDiv {
  background-color: red;
}


/*Style for direction panel*/
#direction-panel {
  width: 80%;
  margin: auto;
}

table.adp-directions {
  margin: auto;
}

/*Style for route table*/
.adp, .adp table {
    font-weight: 500;
    font-size: 20px;
}

.adp-summary {
    font-size: 25px;
    font-weight: bold;
}

/*Button style*/
.findBtn {
  display: none;
  margin: auto !important;
}

.btn {
  border: 0px;
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #94e629);
  background-image: -moz-linear-gradient(top, #f7f7f7, #94e629);
  background-image: -ms-linear-gradient(top, #f7f7f7, #94e629);
  background-image: -o-linear-gradient(top, #f7f7f7, #94e629);
  background-image: linear-gradient(to bottom, #f7f7f7, #94e629);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #302530;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa, #d9fa57);
  background-image: -moz-linear-gradient(top, #fafafa, #d9fa57);
  background-image: -ms-linear-gradient(top, #fafafa, #d9fa57);
  background-image: -o-linear-gradient(top, #fafafa, #d9fa57);
  background-image: linear-gradient(to bottom, #fafafa, #d9fa57);
  text-decoration: none;
}

.btn:focus {
  outline:0;
}
