/*Style for brand*/
.logo {
  margin: 18px 10px 18px 10px;
}

.strapline {
  margin: 18px 0px 18px 0px;
  font-size: 19px;
  position: relative;
  top: -13px;
}

/*General style*/
body {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 23px;
}

#container {
  text-align:center;
}

#map {
  z-index: 1;
  margin: auto;
  width:80%;
  height:600px;
}

.inline {
  display: inline-block;
}

.success {
  color: green;
}

.alarm {
  color: red;
}

select, input {
  border: 0px;
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #302530;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
select, input {
    margin: 2px;
    padding: 10px 0px 10px 0px;
}
@media only screen and (max-width: 330px) {
  select, input {
      margin: 2px;
      padding: 10px 0px 10px 0px;
  }
}

/*Style for speech bubble*/
blockquote.bubble {
	background-position: center;
  background-repeat: no-repeat !important;
	background-size: 100% 100%;
  margin: 0 auto;
	text-align: center;
	height: 0;
	box-sizing: content-box;
	line-height: 1;
  font-size: 3.5vw;
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
blockquote.speech {
  background: url(../../library/images/speech-bubble2.svg);
  padding: 10% 5% 15% 5%;
  z-index: 6;
}

.pulsate {
  animation: fadeIn 1s infinite alternate;
}
@keyframes fadeIn {
  from { opacity: 0; }
}
.fadesOut {
  opacity: 1;
  animation: fadeOut 2.5s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to {
    opacity: 0;
  }
}

/*Style for menuBox*/
.menuBox {
  font-size: 25px;
  background-color: rgba(251, 251, 251, 0.28);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  margin: 0%;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-height: 600px) {
  .menuBox {
    padding-top: 0px;
  }
}

.menuBoxBackground {
  background-image: url("../library/images/ev-in-field.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorMessage {
  color: red;
}
/*Style for Nearest Location List*/
ul {
    list-style-image: url('../library/images/point-b.png');
}

#chargingStations {
  display: inline-block;
}

.locationListItem {
  font-size: 25px;
  margin: 10px;
  text-align: left;
}

/*style for info window*/
.narrow {
  margin: 5px;
}

.gm-style .gm-style-iw {
    font-weight: inherit;
    font-size: 20px;
}

/**Style for Charging Station Detail Page**/
.chargingStationPanel {
  font-size: 25px;
  background-color: rgba(251, 251, 251, 0.28);
  padding: 20px;
  margin: 0%;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chargingStationPanelImageLayer {
  background-image: url("../library/images/electricMotorWay.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pumpDiv {
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
}

.connectorDiv {
  background-color: #CDDC39;
  border-radius: 8px;
  width: 400px;
  font-size: 22px;
  margin: 5px;
  padding: 20px;
  display: inline-block;
}

.closeBtn {
  position: absolute;
    top: 2%;
    right: 5%;
    font-size: 60px;
    color: gray;
    border: none;
    background: none;
}
.closeBtn:focus {outline:0;}

/*Style for selection button section*/
.buttonsSection {
  z-index: 6;
  position: fixed;
  top: 10px;
  right: 10px;
}

/*Style for directions map*/
#directionsMap {
  margin: 20px auto;
  width:80%;
  height:600px;
}

/*Style for directions panel*/
#directionsPanel {
  width: 80%;
  margin: 20px auto 20px auto;
  background-color: rgb(255, 255, 255);
}

table.adp-directions {
  margin: auto;
}

/*Style for route table*/
.adp, .adp table {
    font-weight: 500;
    font-size: 20px;
}

.adp-summary {
    font-size: 25px;
    font-weight: bold;
}

/*Button style*/
.findBtn {
  display: none;
  margin: auto !important;
}

.btn {
  border: 0px;
  margin: 5px;
  box-shadow: 5px 5px 5px #888888;
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #94e629);
  background-image: -moz-linear-gradient(top, #f7f7f7, #94e629);
  background-image: -ms-linear-gradient(top, #f7f7f7, #94e629);
  background-image: -o-linear-gradient(top, #f7f7f7, #94e629);
  background-image: linear-gradient(to bottom, #f7f7f7, #94e629);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #302530;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa, #d9fa57);
  background-image: -moz-linear-gradient(top, #fafafa, #d9fa57);
  background-image: -ms-linear-gradient(top, #fafafa, #d9fa57);
  background-image: -o-linear-gradient(top, #fafafa, #d9fa57);
  background-image: linear-gradient(to bottom, #fafafa, #d9fa57);
  text-decoration: none;
}

.btn:focus {
  outline:0;
}
