<!DOCTYPE html>
<html ng-app="ecoAngular1App">
  <head>
    <meta charset="utf-8">
    <title>Ecotricity Angular1 App</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="angularApp.js"></script>
  </head>
  <body >
    <div id="container" ng-cloak>
      <directory-brand ng-cloak></directory-brand>

      <div ng-controller="mainCtrl as mCtrl">
        <div ng-if="mCtrl.menuMode" ng-cloak class="menuBoxBackground"></div>
        <div ng-if="mCtrl.menuMode" ng-cloak class="menuBox">
          <h2>Electric Highway Finder</h2>
          <div ng-if="mCtrl.loginPanelOn" id="LogInPanel">
            <h3>Please type in your username and password in order to access the list of your own cars.</h3>
            <form name="loginForm" ng-submit="mCtrl.login()">
              Username:
              <input class="inputBox" name="username" type="text" ng-model="mCtrl.username" required autofocus />
              <br/>
              Password:
              <input class="inputBox" name="password" type="password" ng-model="mCtrl.password" required autofocus />
              <br/>
              <button class="btn" ng-disabled="loginForm.$invalid">Access your car details</button>
            </form>
          </div>

          <div ng-if="!mCtrl.loginPanelOn" id="instruction" ng-cloak>
            <label for="cars">1. Please select your electric car: </label>
            <select ng-cloak ng-model="selectedCar" ng-options="car as car.make +' '+car.model + ' '+car.specification for car in mCtrl.listOfCars" ng-change="mCtrl.select_car(selectedCar)"></select>
            <h3>{{selectedCar.vehicleMake +' '+selectedCar.vehicleModel + ' '+selectedCar.vehicleSpec}}</h3>

            <p>2. Where do you want to start from?</p>
            <button class="btn" ng-click="mCtrl.find_myLocation()">Where I am now</button><br/>
             OR<br/>
            <form class="inline" name="searchForm" novalidate
            ng-submit="mCtrl.search()">

              Type in a departure location:
              <input class="inputBox" name="place" type="text" ng-model="mCtrl.searchPlace" required autofocus />
                    {{searchPlace}}
              <span >
                <button class="btn" ng-disabled="searchForm.$invalid">Go!</button>
              </span>
            </form>
          </div>
          <p id="errorMessage" class="errorMessage"></p>
        </div>

        <div class="buttonsSection" ng-cloak>
          <a ng-if="mCtrl.mapMode" href="#stationDetailsView" class="btn">Map</a>
          <a ng-if="mCtrl.mapMode" href="#stationList" class="btn">List</a>
          <button ng-if="mCtrl.stationPanelMode" ng-cloak class="closeBtn" ng-click="mCtrl.close_stationPanel()">x</button>
        </div>

        <div id="stationDetailsView" ng-cloak>
          <h3 ng-if="mCtrl.list" ng-cloak class='animated fadeIn'>Here are the 10 charnging stations closest to you.</h3>

          <h3 id="mapTitle" class="narrow" >Map</h3>
          <div id="map"></div>

          <h3 id="stationList" class="narrow">List</h3>
          <p>Click each marker above or list below to see more details, including distance and directions.</p>
          <div id="chargingStations">
            <div ng-repeat="station in mCtrl.list">
              <a href="#" ng-click="mCtrl.open_InfoWindowByMarkerIndex($index)">{{$index+1}}: {{station.name}} - {{station.location}}, Distance: {{(station.distance).toFixed(1)+"miles"}}</a>
            </div>
          </div>
        </div>

        <div class="chargingStationPanelImageLayer" ng-if="mCtrl.stationPanelMode" ng-cloak></div>
        <div id="chargingStationPanel" class="chargingStationPanel" ng-if="mCtrl.stationPanelMode" ng-cloak>
          <h1>{{ mCtrl.stationDetails.name }}</h1>
          <h4 class="narrow" ng-cloak>{{ mCtrl.stationDetails.pumpModel }}</h4>
          <h3 class="narrow" ng-cloak>{{mCtrl.stationDetails.location}}</h3>
          <h3 class="narrow" ng-cloak>{{mCtrl.stationDetails.postcode}}</h3>
          <h3 class="narrow" ng-cloak>{{(mCtrl.stationDetails.distance).toFixed(1)+'Miles'}}</h3>
          <h3 ng-cloak>Your car: {{ mCtrl.selectedCar }}</h3>

          <a href="#directionsPanel" class="btn" ng-click="mCtrl.get_directions()" ng-cloak>Check directions</a>
          <p></p>
          <div class='pumpDiv' ng-repeat="pumpObj in mCtrl.stationDetails.pumpDetails">
            <h3 class="narrow">Pump ID: {{ pumpObj.pumpId }}</h3>
            <div ng-repeat="connector in pumpObj.connector" class='connectorDiv'>
              <img ng-src="{{mCtrl.select_markerIcon(connector.type)}}" />
              <h4 class="narrow">Connector {{ connector.connectorId }}: {{connector.name}}</h4>

              <p ng-if="connector.compatible ==''" class="narrow success">Compatible with your car!</p>
              <p ng-if="connector.compatible =='X'" class="narrow alarm">Sorry, not compatible with your car</p>

              <p class="narrow" ng-class="{ 'success': connector.status == 'Available' && connector.compatible !='X'}">Status: {{connector.status}}</p>
              <p class="narrow">Session Duration: {{connector.sessionDuration}} mins</p>
            </div>
          </div>
          <br />

          <div id="directionsMap"></div>

          <div id="directionsPanel" class="animated slideInUp"></div>
        </div>

        <div ng-cloak>
          <p>Search again with another car and/or location.</p>
          <button class="btn" ng-click="mCtrl.reset()">Reset!</button>
        </div>
        <blockquote ng-if="mCtrl.message != null" ng-cloak ng-class="mCtrl.loading ? 'speech bubble pulsate' : 'speech bubble fadesOut'">{{mCtrl.message}}</blockquote>
      </div>
    </div>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiIT-vZnJLlI1faDYfWa-9N-vyZ4JL4Vg&libraries=places"></script>

  </body>
</html>
